html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.text-center {
	text-align: center;
}


body{
	background-color: #FFF;
}

/*-----------HEADER Styles----------------*/
header,
footer {
	background-color: #333;
	padding: 20px 0;
	color: #FFF;
}

header h1 a{
	font-family: tahoma;
	font-size: 32px;
	text-decoration: none;
	color: #FFF;
}
header h1 a:hover{
	color: #f90;
	text-decoration: none;	
}
/*-----------END HEADER Styles----------------*/

.wrapper {
	padding: 30px 0;
}



/* ----------Slideshow Styles -----------------*/
.slideshow {
	padding: 100px 0;
	background-color: #252525;
	color: #D7D7D7;
}






/* ----------Slideshow Styles -----------------*/





/*-----------Dashboard & NAV Styles----------------*/
#dash-header{
	width:960px;
	margin:auto;
	line-height:100px;
	background-color:#666;	
}
#dash-header h1{
	font-family:tahoma;
	font-size:32px;
	margin-left:50px;
	color:#F90;
}
#dash-header h1, ul{
		display:inline;
}
.utilities{
	padding-left:200px;	
}
.utilities li{
	display:inline;	
	padding-right:30px;
	color:black;
	font-family:tahoma;
	font-size:18px;
}
.utilities li a{
	text-decoration:none;
	color:white;
	font-family:tahoma;
	font-size:16px;
}
.utilities li a:hover{
	color:#CCC;
}
.nav {
	clear:both;	
	padding-bottom:10px;
}
.nav li{
	display:inline;
}
/*-----------END Dashboard NAV Styles----------------*/



/*-----------ALL CONTENT Styles----------------*/
#dash-content {
	background-color:#999999;
	width:960px;
	margin:auto;
	padding-top:20px;	
}
.single_content {
	background-color:#999999;
	width:960px;
	margin:auto;
	padding-top:0px;	
}
li {
	list-style:none;
}
.cat_title {
	margin-left:50px;
	margin-bottom:15px;
	font-family:tahoma;
	font-size:24px;
	color:#333;	
}	





/*-----------POSTS AND COMMENTS Styles----------------*/
.post {
	margin-bottom: 50px;
	list-style-type: none;	
}
h2.post-title,
h3.widget-title {
	font-size: 20px;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #CCC;
	color: #252525;	
}
.post a{
	text-decoration: none;	
	color: #333;
}
.post a:hover{
	color: #333;	
}
.wrapper p,
.entry {
	font-size: 16px;
	line-height: 25px;
	color: #333;
	/*padding-bottom: 30px;	*/
}
.meta {
	font-size: 11px;
	color: #555;
	margin-bottom: 5px;	
	display: block;
}

.author a{
	font-family:tahoma;
	text-decoration:none;
	font-size:14px;
	color:#333;	
}
.author a:hover{
	color:white;	
}
.author h2{
	font-family:tahoma;
	font-size:24px;
	color:#333;
	margin-top:30px;
	margin-bottom:5px;	
}
.author p{
	font-family:tahoma;
	font-size:14px;
	color:#333;
	padding-bottom:50px;	
}





/*---------- Comments section -------------*/
.comments{
	width:530px;
	margin-left:50px;
	margin-bottom:30px;	
	font-family:tahoma;
	font-size:14px;
	color:#333;
}
.comment_count{
	margin-top:20px;
	margin-bottom:20px;
	color:#000;	
}
.one-comment{
	margin-left:50px;
	margin-bottom:30px;	
}
.one-comment h3{
	color:#000;
	font-size:18px;
	color:white;
	margin-bottom:3px;
}
.one-comment p{
	font-size:14;	
	margin-bottom:20px;
}
.comment-date{
	font-size:11px;	
	color:black;
}
.one-comment hr{
	width:530px;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;	
}
.leavecomment{
	margin-left:50px;
	font-family:tahoma;
	font-size:26px;
	color:#333;	
}
#commentform{
	background-color:#666666;	
	width:500px;
	padding:20px;
	margin-top:10px;
	margin-left:50px;
	margin-bottom:50px;
	border-radius:10px;
}
#commentform label{
	display:block;	
}
/*-----------END POSTS AND COMMENTS Styles----------------*/



/*-----------Universal Form Styles----------------*/
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
	margin-top: 3px;
	margin-bottom: 25px;	
	border-radius: 4px;
	height: 20px;
	border: 1px solid #CCC;
	padding: 3px 10px;
}
label{
	font-family:tahoma;
	font-size:12px;
	color:#F90;
}
.username{
	width:250px;
}
.email{
	width:250px;
}
.password{
	width:250px;
}
.repassword{
	width:250px;
}
.policy{
	display:inline;
	margin:0px;	
}
.policy a{
	text-decoration:none;	
}
.url{
	width:250px;	
}
.button{
	width:90px;
	margin-top:20px;
	height:25px;	
}
/*-----------END Universal Form Styles----------------*/


/*-----------Login Form Styles----------------*/

.log_header{
	width:960px;
	margin:auto;
	background-color:#999;	
}
.log_header h1{
	line-height:90px;
	font-family:tahoma;
	font-size:30px;
	color:#333333;	
	padding-left:320px;
}
.log_content{
	width:400px;
	margin:auto;
	padding-bottom:200px;
	
}
.log_form{
	background-color:#666;
	border-radius:8px;
	padding:40px;
}
/*-----------END Login Form Styles----------------*/


/*-----------Registration Form Styles----------------*/

#reg-header{
	width:960px;
	margin:auto;
	background-color:#999;	
}
#reg-header h1{
	line-height:90px;
	font-family:tahoma;
	font-size:30px;
	color:#333333;	
	padding-left:320px;
}
#reg-content{
	width:400px;
	margin:auto;
	padding-bottom:200px;
	
}
#reg_form{
	background-color:#666;
	border-radius:8px;
	padding:40px;
}
/*-----------END Registration Form Styles----------------*/



#admin-form label{
		display:block;
}
#admin-form2 label{
	display:inline;	
}



/*-----------Sidebar Styles----------------*/
aside .widget {
	padding: 0 5px 20px 5px;
}
aside ul li{
	font-size:14px;	
	padding-bottom:5px;
}
aside ul li a{
	color: #333333;
}
aside ul li a:hover{
	color: #555;
}
.categories{	
	padding-top:20px;

}
.links{	
	padding-top:20px;

}

aside a{
	text-decoration:none;	
}
#searchform{
	padding-top:10px;	
}
#searchform input{
	display:inline;	
}
/*-----------END Sidebar Styles----------------*/




/*-----------Footer Styles----------------*/
footer{
	background-color: #333;
}
/*-----------END Footer Styles----------------*/